<div class="container">
  <div class="text-center shop-introduction">
    <p>
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。<br>
    </p>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2 class="mr-4 title">新着商品</h2>
    </div>
      <table class="table table-borderless">
        <% @items.each do |item| %>
        <tr>
          <td>
            <%= link_to public_item_path(item.id),data: {"turbolinks"=>false} do %>
              <%= image_tag item.image, size: "100x100" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= item.name %>
          </td>
        </tr>
        <tr>
          <td>
            ￥<%= item.price.round.to_s(:delimited) %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="row">
      <table class="table table-borderless">
        <tr>
          <td class="text-right">
            <%= link_to 'すべての商品を見る>', public_items_path,data: {"turbolinks"=>false} %>
          </td>
        </tr>
      </table>
    </div>
  </div>  
</div>      