<h1>ジャンル一覧・追加</h1>

<h4>ジャンル名</h4>

<%= form_with model: @genre, url: "/admin/genres", local:true do |f| %>
<%= f.text_field :name %>

<%= f.submit "新規登録" %>

<% end %>

<h4>ジャンル</h4>
  <% @genres.each do |genre| %>
  
    <td><%= genre.name %></td>
    
    <%= link_to "編集する", edit_admin_genre_path(genre.id) %>
        
  <% end %>