<div class="container">
  <h3 class="col-2 mt-3 text-center bg-light text-dark">ログイン</h3>
  <div class="row mt-3">
    <div class="col-lg-10 mx-auto">
      <h5 class="col-5 my-5 text-center bg-light text-dark">会員の方はこちらからログイン</h5>

      <%= form_with model: @customer, url: customer_session_path do |f| %>
      <div class="row mt-3">
        <span class="col-lg-2 ml-auto">メールアドレス</span>
        <div class="col-lg-6 mr-auto">
          <%= f.email_field :email, class: "form-control email", placeholder: "sample@example.com", autocomplete: "email" %>
        </div>
      </div>

      <div class="row mt-3">
        <span class="col-lg-2 ml-auto">パスワード</span>
        <div class="col-lg-6 mr-auto">
          <%= f.password_field :password, class: "form-control password", autocomplete: "current-password" %>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-1 mx-auto">
          <%= f.submit "ログイン", class: "btn btn-sm btn-primary" %>
        </div>
      </div>
      <% end %>
      
      <div class="row mt-3">
        <h5 class="mt-5 col-4 text-center bg-light text-dark">会員登録がお済みでない方</h5>
      </div>
      <%= link_to "こちら", new_customer_registration_path %> <span>　から新規登録を行ってください。</span>
    </div>
  </div>  
</div>